<!doctype html>
<html class="fixed"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{base_empty.html}">
	<head>
		<!-- Basic -->
		<meta charset="UTF-8">
		<title>Login</title>
	</head>
	<body>
		<th:block layout:fragment="page_content">
			<!-- start: page -->
			<section class="body-sign">
				<div class="center-sign">
					<a href="/" class="logo float-left">
						<img src="img/drc_flag.gif" width="95" height="55" alt="DiasporaId Admin" style="object-fit: cover;box-shadow: 0px 0px 2px white;margin-right: 5px;"/>
					</a>
					<span style="font-size:150%;color: #0088CC;font-weight: bold;">RDC Diaspora Id</span>
					<div class="panel card-sign">
						<div class="card-title-sign mt-3 text-right">
							<h2 class="title text-uppercase font-weight-bold m-0"><i class="bx bx-user-circle mr-1 text-6 position-relative top-5"></i> Sign In</h2>
						</div>
						<div class="card-body">
							<form th:action="@{/login}" method="post">
								<div class="form-group mb-3">
									<label>Username</label>
									<div class="input-group">
										<input name="username" type="text" class="form-control form-control-lg" required/>
										<span class="input-group-append">
											<span class="input-group-text">
												<i class="bx bx-user text-4"></i>
											</span>
										</span>
									</div>
								</div>

								<div class="form-group mb-3">
									<div class="clearfix">
										<label class="float-left">Password</label>
										<a href="/reset" class="float-right">Lost Password?</a>
									</div>
									<div class="input-group">
										<input name="password" type="password" class="form-control form-control-lg" required/>
										<span class="input-group-append">
											<span class="input-group-text">
												<i class="bx bx-lock text-4"></i>
											</span>
										</span>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-8">
									</div>
									<div class="col-sm-4 text-right">
										<button type="submit" class="btn btn-primary mt-2">Sign In</button>
									</div>
								</div>

							</form>
						</div>
					</div>

					<p class="text-center text-muted mt-3 mb-3">&copy; Copyright 2021. All Rights Reserved.</p>
				</div>
			</section>
			<!-- end: page -->
		</th:block>
	</body>
</html>