<!doctype html>
<html class="fixed"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{base.html}">
	<head>
		<!-- Basic -->
		<meta charset="UTF-8">

		<title>My Profile</title>
	</head>
	<body>
		<th:block layout:fragment="page_content">
			<section role="main" class="content-body">
						<header class="page-header">
							<h2>Profile</h2>
							<div class="right-wrapper">
								<ol class="breadcrumbs">
									<li>
										<a href="/index">
											<i class="bx bx-home-alt"></i>
										</a>
									</li>
									<li><span>Profile</span></li>
								</ol>
							</div>
						</header>
						<!-- start: page -->
						<div class="row">
							<div class="col-lg-4 col-xl-3 mb-4 mb-xl-0">
								<section class="card">
									<div class="card-body">
										<div class="thumb-info mb-3">
											<img src="img/profile.jpg" class="rounded img-fluid" alt="Admin Profile">
											<div class="thumb-info-title">
												<span class="thumb-info-inner" th:text="${session.user.username}">John Doe</span>
												<span class="thumb-info-type">Admin</span>
											</div>
										</div>
										<hr class="dotted short">
										<h5 class="mb-2 mt-3">About</h5>
										<p class="text-2">My aim is the perfection, adn more about me ...</p>
									</div>
								</section>
							</div>
							<div class="col-lg-8 col-xl-6">

								<div class="tabs">
									<ul class="nav nav-tabs tabs-primary">
										<li class="nav-item active">
											<a class="nav-link" href="#edit" data-toggle="tab">Details</a>
										</li>
									</ul>
									<div class="tab-content">
										<div id="edit" class="tab-pane active">

											<form class="p-3" action="#" id="resetpw_frm" method="post">
												<h4 class="mb-3">Personal Information</h4>
												<div class="row">
													<div class="col-md-6  mb-2">
														<label for="first">Name</label>
														<input th:value="${session.user.username}" type="text" class="form-control" id="first" placeholder="1234 Main St" disabled>
													</div>
												</div>
												<div class="row">
													<div class="col-md-6  mb-2">
														<label for="email">Email</label>
														<input type="text" class="form-control" id="email" placeholder="1234 Main St" disabled>
													</div>
													<div class="col-md-6  mb-2">
														<label for="phone">Phone</label>
														<input type="text" class="form-control" id="phone" placeholder="Apartment, studio, or floor" disabled>
													</div>
												</div>

												<hr class="dotted tall">

												<h4 class="mb-3">Change Password</h4>
												<input type="hidden" placeholder="enter your mail" name="email">

												<div class="row">
													<div class="col-md-6  mb-2">
														<label for="code" >Reset Code</label>
														<input type="text" class="form-control" id="code">
													</div>
													<div class="col-md-6  mb-2">
														<label for="pw">New Password</label>
														<input type="password" class="form-control" id="pw">
													</div>
												</div>

												<div class="row">
													<div class="form-group col-md-6 border-top-0 pt-0">
														<label for="pwc">Confirm Password</label>
														<input type="password" class="form-control" id="pwc">
													</div>
												</div>

												<div class="form-row">
													<div class="col-md-12 text-right mt-3">
														<input type="button" id="reset_btn" class="btn btn-primary" value="Update">
													</div>
												</div>

											</form>
											<script>
												var reset_btn =  document.getElementById("reset_btn");
												var code_txt =  document.getElementById("code");
												var pw_txt =  document.getElementById("pw");
												var pwc_txt =  document.getElementById("pwc");
												var resetpw_frm =  document.getElementById("resetpw_frm");

												var isdisabled = document.getElementById("isdisabled");
												console.log("isdisabled.value = "+isdisabled.value);

												if(isdisabled.value === "true"){
													code_txt.disabled = true;
													pw_txt.disabled = true;
													pwc_txt.disabled = true;
												}else if(isdisabled.value === "false"){
													code_txt.disabled = false;
													pw_txt.disabled = false;
													pwc_txt.disabled = false;
													code_txt.value="";
													code_txt.focus();
												}


												reset_btn.onclick = function (e) {
													e.preventDefault();
													if(reset_btn.value === "Get Reset Code" || reset_btn.value === "Obtenir le code de réinitialisation"){
														resetpw_frm.action = "profile/reset";
														resetpw_frm.submit();

													}else if(reset_btn.value === "Update Credentials" || reset_btn.value === "Mettre à jour les info. d'identification"){
														resetpw_frm.action = "profile/reset-confirm";
														resetpw_frm.submit();

													}
												}
											</script>

										</div>
									</div>
								</div>
							</div>
							<div th:if="${session.user.userType == 'admin'}" class="col-xl-3">

								<h4 class="mb-3 mt-0">General Statistics</h4>
								<ul class="simple-card-list mb-3">
									<li class="primary">
										<h3>16</h3>
										<p class="text-light">Received Registrations Total</p>
									</li>
									<li class="primary">
										<h3>16</h3>
										<p class="text-light">Processing Registrations Amount</p>
									</li>
									<li class="primary">
										<h3>488</h3>
										<p class="text-light">Validated Registrations Total</p>
									</li>
									<li class="primary">
										<h3>$ 189,000.00</h3>
										<p class="text-light" t>Paid Amount Total</p>
									</li>
								</ul>

								<h4 class="mb-3 mt-4 pt-2">Statistics</h4>
								<ul class="simple-bullet-list mb-3">
									<li class="blue">
										<span><b class="title" >Opened</b><b></b></span>
										<span class="description truncate">The Aimed amount has already been reached</span>
									</li>
									<li class="green">
										<span><b class="title" >Opened</b><b></b></span>
										<span class="description truncate">The Aimed amount has not already been reached</span>
									</li>
									<li class="orange">
										<span><b class="title">Opened</b><b></b></span>
										<span class="description truncate">No body has already donated</span>
									</li>
								</ul>
							</div>

						</div>
						<!-- end: page -->
					</section>
		</th:block>
	</body>
</html>