<!doctype html>
<html class="fixed"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{base_empty.html}">
	<head>
		<!-- Basic -->
		<meta charset="UTF-8">
		<title>Reset password</title>
	</head>
	<body>
		<th:block layout:fragment="page_content">
			<!-- start: page -->
			<section class="body-sign">
				<div class="center-sign">
					<a href="/" class="logo float-left">
						<img src="img/drc_flag.gif" width="95" height="55" alt="DiasporaId Admin" style="object-fit: cover;box-shadow: 0px 0px 2px white;margin-right: 5px;"/>
					</a>
					<span style="font-size:150%;color: #0088CC;font-weight: bold;">RDC Diaspora Id</span>

					<div class="panel card-sign">
						<div class="card-title-sign mt-3 text-right">
							<h2 class="title text-uppercase font-weight-bold m-0"><i class="bx bx-user-circle mr-1 text-6 position-relative top-5"></i> Recover Password</h2>
						</div>
						<div class="card-body">
							<div class="alert alert-info">
								<p class="m-0">Enter your e-mail below and we will send you reset instructions!</p>
							</div>

							<form method="post" th:action="@{/reset}">
								<div class="form-group mb-0">
									<div class="input-group">
										<input name="email" type="email" placeholder="E-mail" class="form-control form-control-lg" required/>
										<span class="input-group-append">
											<button class="btn btn-primary btn-lg" type="submit">Get Reset Code!</button>
										</span>
									</div>
								</div>

								<p class="text-center mt-3">Remembered? <a href="/login">Sign In!</a></p>
							</form>
						</div>
					</div>

					<p class="text-center text-muted mt-3 mb-3">&copy; Copyright 2021. All Rights Reserved.</p>
				</div>
			</section>
			<!-- end: page -->
		</th:block>
	</body>
</html>